.topContainer {
  display: flex;
  justify-content: center;
}

.contentConatiner {
  padding: 208px 16px 0px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1000px;
}

.imageConatiner img {
  width: 620px;
  height: 410.68px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.textContainer h1 {
  font-family: "Outfit", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
  color: #ffffffeb;
}

.textContainer p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #a0aec0;
}
