.mainWrapper {
  padding-top: 65px;
  background-color: #18181b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.arrowContainer {
  position: absolute;
  left: 5%;
  top: 14%;
  cursor: pointer;
}

.folderForms {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1 1 0%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 1000px;
  padding-top: 3rem;
}

.folders {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.folders::-webkit-scrollbar {
  height: 8px;
}

.folders::-webkit-scrollbar-track {
  background: #2a2a2d;
  border-radius: 10px;
}

.folders::-webkit-scrollbar-thumb {
  background: #4a4a4d;
  border-radius: 10px;
  cursor: pointer;
}

.createFolder {
  background-color: #2a2a2d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  color: #ffffffeb;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 35.2px;
  padding: 8px 1rem;
  border-radius: 6px;
  flex: 0 0 auto;
  min-width: 100px;
  cursor: pointer;
}

.createForm {
  height: 270px;
  background-color: #1a5fff;
  padding: 80.2px 41.4px;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.createForm p {
  padding-top: 24px;
}

.forms {
  display: grid;
  grid-template-columns: repeat(4, minmax(225px, 1fr));
  gap: 20px;
}
